@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: #8181817a;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

@config "../tailwind.config.js"